@import "tailwindcss";

@layer base {
  :root {
    color-scheme: dark;
  }

  body {
    @apply bg-neutral-900 text-neutral-100 m-0 overflow-hidden w-screen h-screen;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }

  #root {
    @apply w-full h-full;
  }
}